* {
    box-sizing: border-box;
    /* font family */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    background-color: #f8f4d7;
    background-attachment: fixed;
    padding: 15px 20px;
    display: flex;
    flex-flow: column;
}

button {
    border-color: #f8f4d7;
    background-color: #f8f4d7;
}

.back {
    float: left;
}

.add {
    float: right;
}