* {
    box-sizing: border-box;
    /* font family */
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-size: 900%;
    background-position: center;
    font-family: sans-serif;
    background-image: url(../media/fondo2.jpg);
}

.loginbox {
    width: 600px;
    height: 750px;
    background: white;
    color: black;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
}

.avatar {
    width: 100px;
    height: 100px;
    border-radius: 0%;
    position: absolute;
    top: -50px;
    left: calc(50% - 50px);
}

h1 {
    margin: 0;
    padding: 0 0 20px;
    text-align: center;
    font-size: 22px;
}

.loginbox p {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.loginbox input {
    width: 100%;
    margin-bottom: 20px;
}

.loginbox input[type="text"],
.loginbox input[type="email"],
.loginbox input[type="number"],
input[type="password"] {
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.loginbox input[type="submit"] {
    border: none;
    outline: none;
    height: 40px;
    background: #2575b6f3;
    color: white;
    font-size: 18px;
    border-radius: 20px;
}

.loginbox input[type="submit"]:hover {
    cursor: pointer;
    background: #174870f3;
    color: rgb(255, 255, 255);
}

.caja_roja input[type="text"] {
    border: none;
    border-bottom: 1px solid rgb(250, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.caja_roja input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(250, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.caja_negra input[type="text"] {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

.caja_negra input[type="password"] {
    border: none;
    border-bottom: 1px solid rgb(0, 0, 0);
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 16px;
}

@media screen and (max-width:700px) {
    .loginbox {
        width: 73%;
        height: 90%;
    }
}